body {
  margin: 0;
  padding: 0;
  background: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: #ff3838;
  transform: rotate(45deg);
}

.heart:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  transform: translateX(-50%);
  border-radius: 50%;
}
